/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 5%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  span.psw {
      margin-top: 3px;
      float: right;
  }
 